<cc-map
  [viewerOptions]="viewerOptions"
>
  <cc-box
    [entityOptions]="boxEntityOptions"
    #box="entity"
    (added)="box.zoomTo()"
  ></cc-box>

  <cc-camera
    [options]="cameraOptions$ | async"
  ></cc-camera>
</cc-map>




<form [formGroup]="form">
  <label>
    Тангаж - Z - Pitch - Twist
    <input type="number" formControlName="pitch" step="1"/>
  </label>

  <label>
    Рыскание - Y - Heading - Clock
    <input type="number" formControlName="heading" step="1"/>
  </label>

  <label>
    Крен - X - Roll - Cone
    <input type="number" formControlName="roll" step="1"/>
  </label>

  <label>
    xAngle
    <input type="number" formControlName="xAngle"/>
  </label>

  <label>
    yAngle
    <input type="number" formControlName="yAngle"/>
  </label>

  <label>
    height
    <input type="number" formControlName="height"/>
  </label>

  <label>
    lon
    <input type="number" formControlName="lon" step="0.0001"/>
  </label>

  <label>
    lat
    <input type="number" formControlName="lat" step="0.0001"/>
  </label>
</form>

<button (click)="test()" style="margin-top: 32px">Debug button</button>
