<form (ngSubmit)="submit()" [formGroup]="form">
  <select formControlName="flightType">
    <option value="test">Test</option>
    <option value="alarm">По тревоге</option>
  </select>

  <input
    type="file"
    multiple
    (input)="onDropFile($any($event.target))"
  >

  <div class="progress" *ngIf="uploadProgress$ | async as progress">
    <progress max="100" [value]="progress"></progress>
    {{progress}}%
  </div>

  <button
    type="submit"
    [disabled]="!images"
  >Загрузить</button>
</form>

<ng-container *ngIf="processOfMakingOrthomosaic$ | async as progress">
  <h1>Процесс изготовления ортофотоплана:</h1>

  <ul class="orthomosaic-progress">
    <li
      *ngFor="let process of progress"
    >
      {{ process.name}}
      <progress max="100" [value]="process.percent"></progress>
      {{process.percent}}%
    </li>
  </ul>
</ng-container>
