:host {
  display: block;
  padding: 10px;
}

.calendar {
  display: grid;
  grid-template-rows: 50px repeat(6, 1fr);
  background: #241f2c;
  cursor: pointer;
}

.calendar__weekday-cell,
.calendar__title {
  text-transform: uppercase;
}

.calendar__row {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.calendar__weekday-cell {
  height: 50px;
  background: #282a2d;
  color: white;
  display: grid;
  place-content: center;
}

.calendar__cell {
  border: 1px black solid;
  min-height: 120px;
  color: white;

}
