<button (click)="changeMonth(-1)">Предыдущий</button>
<h2 class="calendar__title">{{ currentMonth.monthLong }} {{ currentMonth.year }}</h2>
<button (click)="changeMonth(1)">Следующий</button>

<div class="calendar" (click)="pickDay($event.target)">
  <div class="calendar__row">
    <div
      *ngFor="let day of sheet[0]"
      class="calendar__weekday-cell"
    >
      {{ day.weekdayLong}}
    </div>
  </div>
  <div
    class="calendar__row"
    *ngFor="let row of sheet"
  >
    <div
      *ngFor="let day of row"
      class="calendar__cell"
      [attr.data-day]="day"
    >{{ day.day }} {{day.monthLong}}</div>
  </div>
</div>

<nx-test-common-ui-sidebar
  *ngIf="flightReports$ | async as flightReports"
  (backdropClick)="clearChosenDay()"
>
  <nx-test-calendar-flights
    [flightReports]="flightReports"
  ></nx-test-calendar-flights>
</nx-test-common-ui-sidebar>
