<button (click)="changeMonth(-1)">Предыдущий</button>
<h2 class="calendar__title">{{ currentMonth.monthLong }} {{ currentMonth.year }}</h2>
<button (click)="changeMonth(1)">Следующий</button>

<div class="calendar">
  <div class="calendar__row">
    <div
      *ngFor="let day of sheet[0]"
      class="calendar__weekday-cell"
    >
      {{ day.weekdayLong}}
    </div>
  </div>
  <div
    class="calendar__row"
    *ngFor="let row of sheet"
  >
    <div
      *ngFor="let day of row"
      class="calendar__cell"
    >{{ day.day }} {{day.monthLong}}</div>
  </div>
</div>
