<div class="map">
  <cc-map
    [viewerOptions]="viewerOptions"
    #map="map"
  >
    <cc-flight-plan-draw
      *ngIf="drawMode$ | async"
      [drawingMode]="drawingMode"
      [droneAvailableAreas$]="droneAreas$"
      (planReady)="onPlanReady($event)"
    ></cc-flight-plan-draw>
  </cc-map>
</div>

<ul *ngFor="let report of flightReports" class="flight">
  <li>День недели:{{ report.date | date: 'dd.MM.YYYY'}}</li>
  <li>Тип полета: {{ report.type }}</li>
  <li>Срочный вылет: {{ report.isAlarmFlight }}</li>
  <button (click)="showFlight=true">Показать трек полета</button>
</ul>

<button (click)="drawMode$.next(true)">Создать полет</button>
